@page
@model OnlineVotingApp.Pages.Admin.AdminPartyEditModel
@{
    ViewData["Title"] = "Party Edit";
}

<h2>Party Edit</h2>

<a class="btn btn-primary" href="/Admin/AdminPartyUpdate">Back to Party List</a>

<form method="POST" >
    <div class="form-group">
        <label for="exampleInputEmail1">Party Name</label>
        <input type="text" class="form-control" name="partyName" value="@Model.partyDetails.PartyName" placeholder="Party Name...">
        <input  type="hidden" name="previousPartyName"  value="@Model.partyDetails.PartyName"/>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Symbol Name</label>
        <input type="text" class="form-control" name="partySymbolName" value="@Model.partyDetails.PartySymbol" placeholder="Symbol Name...">
    </div>

    <br/>

    <button type="submit" class="btn btn-primary">Submit</button>
</form> 